# backend
jobseeker-backend/build/
jobseeker-backend/.gradle/
jobseeker-backend/bin/
jobseeker-backend/gradlew
jobseeker-backend/gradlew.bat
jobseeker-backend/.idea
jobseeker-backend/gradle
jobseeker-backend/HELP.md
jobseeker-backend/*.iml
jobseeker-backend/src/main/java/com/board/jobseeker/resources/static

# General
.DS_Store
*.log
.vscode/
.idea/

# environmental variables
.env
*.env
!.env.example